@model gLog_FrontEnd.Models.T_Auth_User

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link href="~/Content/style.css" rel="stylesheet" />
    
    <script src="~/Scripts/jQuery-2.2.0.min.js"></script>
</head>
<body>
    <script>
        $(document).ready(function (c) {
            //$('.close').on('click', function (c) {
            //    $('.login-form').fadeOut('slow', function (c) {
            //        $('.login-form').remove();
            //    });
            //});
        });
    </script>
    <!--SIGN UP-->
    <h1><i>工程管理登录</i></h1>
    @using (Html.BeginForm("Login", "T_Auth_User", FormMethod.Post, new { @id = "From_Login" }))
    {
        <div class="login-form">
            <div class="close">
                
            </div>
            <div class="head-info">
                <label class="lbl-1"> </label>
                <label class="lbl-2"> </label>
                <label class="lbl-3"> </label>
            </div>
            <div class="clear"> </div>
            <div class="avtar">
                <img src="~/Content/img/people_96px_1165505_easyicon.net.png" />
            </div>
            <input id="LoginName" name="LoginName" type="text" class="text" value="工号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '工号';}">
            <div class="key">
                <input id="LoginName" name="LoginPwd" type="password" value="123456" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '123456';}">
            </div>
            <div style="color:red">@ViewBag.Message</div>
            <div class="signin">
                <input type="submit" value="登陆">
            </div>
        </div>
        <div class="copy-rights">
        </div>
    }
</body>
</html>
